.registerContainer{
    height: calc(100vh - 71px - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    font-size: 50px;
    color: #59ACF9;
}

@media (max-width: 410px) {
    h1{
        font-size: 30px;
    }
}