*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task{
    border: 1px solid rgb(180, 178, 178);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    position: relative;
    transition: .3s;
}

@media (max-width: 576px) {
    .task{
        display: block;
    }
    .remove{
        justify-content: center;
        margin-top: 10px;
    }
  }

.taskText{
    display: flex;
    align-items: center;
}

.taskDescription{
    overflow-wrap: anywhere;
}

.taskDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #59ACF9;
    padding: 4px;
    border-radius: 4px;
    margin-right: 50px;
}

.checked{
    border: 1px solid red!important;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
}

.done{
    background-color: #4DB43C;
}

p{
    margin: 0!important;
}

.title{
    margin: 0;
}

.title .done{
    color: white!important;
}

.title .active{
    color: #59ACF9!important;
}

.checkbox{
    width: 20px!important;
    height: 17px;
}

.edit{
    position: absolute;
    top: 0;
    right: 0;
    color: #333333;
}

.removeTask{
    position: absolute;
    bottom: 0;
    right: 0;
}