.navbar{
    background-color: #59ACF9;
    z-index: 999999;
}

.brand{
    font-size: 40px;
    text-decoration: none!important;
    color: white!important;
}

.link{
    color: white!important;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    margin-left: 31px;
    z-index: 9999;
}

.link:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.user{
    margin-left: 59px;
    font-size: 40.87px;
    color: white;
    cursor: pointer;
    z-index: 99999;
}

.dropdownMenu{
    background-color: #59ACF9;
    width: 200px;
    position: absolute;
    right: 0;
    padding: 7px;
    transition: .5s;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 0 5px 10px;
}

.dropdownMenu a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.dropdownMenu a:hover,.logout:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}


@media (max-width: 576px) {
    .link{
        margin-left: 3px;
    }
    .user{
        margin: 10px 3px;
    }
    .dropdownMenu{
        position: inherit;
    }
}