.contentMinHeight{
    min-height: calc(100vh - 71px - 49px);
}

.headTitle{
  font-size: 24px;
  margin-top: 81px;
  font-family: cursive;
}

@media (max-width: 576px) {
    .contentMinHeight{
      min-height: calc(100vh - 71px - 74px);
    }
  }