.invalid{
    border: 2px solid red!important;
}

.datePicker {
    text-align: right;    
}

input[type="date"]:valid {
    background-color: #59ACF9;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px 7px;
    color: white;
}

.modalTitle{
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}
  